In [1]:
import pandas as pd
import numpy as np

n_rows = 5
n_col = 5
cols = ('A','B','C','D','E')
df = pd.DataFrame(np.random.randint(1,10,size=(n_rows,n_col)),columns=cols)
# menambahkan text di akhir cols
# print(df.add_suffix(' Baris'))
# menambahkan text di awal cols
# print(df.add_prefix('Baris '))
df

   A  B  C  D  E
0  1  5  2  5  2
1  8  7  9  5  6
2  2  5  8  3  9
3  5  6  2  2  5
4  7  4  7  4  5