In [3]:
import pandas as pd
import numpy as np

n_rows = 5
n_col = 5
cols = ('A','B','C','D','E')
df = pd.DataFrame(np.random.randint(1,5,size=(n_rows,n_col)),columns=cols)
# basic logic operator OR pada pandas
# print(df[(df['A'] == 1) | (df['B'] == 3)])

# Logic Operator OR pada pandas
# print(df[(df['A'].isin([1,2]))])

# Logic Operator Not pada pandas menggunakan operator negasi atau tanda tilde (~)
df[(~df['A'].isin([1,2])) | (~df['B'].isin([1,2]))]

   A  B  C  D  E
0  4  4  1  1  4
2  4  1  1  1  2
4  3  1  1  3  1