In [4]:
import pandas as pd
import numpy as np

n_rows = 5
n_cols = 2
cols = ['Bil_pecah','Bil_bulat']
df = pd.DataFrame(np.random.randint(1,10,size=(n_rows,n_cols)),columns=cols)
df

   Bil_pecah  Bil_bulat
0          7          9
1          7          6
2          4          9
3          4          6
4          9          5